# Jupyter
.ipynb_checkpoints/
*.ipynb_checkpoints

# LaTeX build artifacts
*.aux
*.bbl
*.blg
*.brf
*.idx
*.ilg
*.ind
*.lof
*.log
*.lot
*.out
*.toc
*.acn
*.acr
*.alg
*.glg
*.glo
*.gls
*.ist
*.fls
*.fdb_latexmk
*.synctex.gz
*.xdv
*.toc

# OS
.DS_Store
Thumbs.db
